div.vermelho{
    background-color: red;
    width: 700px;
    padding: 0px;
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}
div.verde{
    background-color: green;
    width: 700px;
    padding: 25px;
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}
